<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo" target="_self" title="company logo">
        <svg  width="159" height="68">
          <use href="../img/sprite.svg#icon-logo">
        </use>
      </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#find-frend" title="find friend">Знайди друга</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#about-us" title="about us">Про нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#faq" title="frequently asked questions">Часті запитання</a></li>
        <li class="nav-item"><a class="nav-link" href="#success-stories" title="success story">Історії успіху</a></li>
        <li class="nav-item"><a class="nav-btn-link" href="#pets-list" title="take a friend">Взяти друга</a></li>
      </ul>
      <button class="burger-btn" type="button" role="button" id="data-burger-open" data-menu-open>
        <svg class="burger-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
