<section class="pets">
  <div class="container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>

    <!-- Фільтри -->
    <ul class="pets-filters"></ul>
    <span class="loader" aria-hidden="true"></span>
    <!-- Галерея тварин -->
    <ul class="pets-list"></ul>

    <!-- Показати більше -->
    <button class="load-more hidden">Показати більше</button>
  </div>
</section>

<!-- Модалка -->
<div class="backdrop hidden">
  <div class="modal">
    <button class="modal-close">×</button>
    <div class="modal-content"></div>
  </div>
</div>
