<section id="feedback">
    <div class="container">
        <h3 class="feedback-title">Щасливі історії, що надихають</h3>
        <p class="feedback-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>

        <div class="swiper feedback-swiper">
            <div class="swiper-wrapper">
                <!-- сюди JS вставить картки -->
            </div>
        </div>

        <span class="loader hideshow"></span>

        <div class="feedback-navigation">
            <div class="feedback-swiper-pagination"></div>

            <div class="arrow">
                <button class="feedback-swiper-button-prev" type="button" aria-label="Previous slide">
                    <svg class="feedback-arrow-prev" width="16" height="16">
                        <use href="./img/sprite.svg#icon-left"></use>
                    </svg>
                </button>

                <button class="feedback-swiper-button-next" type="button" aria-label="Next slide">
                    <svg class="feedback-arrow-next" width="16" height="16">
                        <use href="./img/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>