.about-us{
    width: 335px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-us-title{
    font: 700 36px / 1.2 "Open Sans", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .about-us{
        width: 704px;
        height: 43px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .about-us{
        width: 1312px;
        height: 58px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-us-title{
        font: 700 48px / 1.2 "Open Sans", sans-serif;
        letter-spacing: -0.01em;
        text-align: center;
        color: #02060a;
        margin-bottom: 40px;
    }
}

.swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.swiper.mySwiper {
    max-width: 100%;
    height: 402px;
    position: relative;
}

.swiper-slide .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    font: 400 16px / 1.5 "IBM Plex Sans", sans-serif;
    color: #f6f4f1;
}

.controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 335px;
    height: 64px;
}

.swiper-pagination {
    position: static !important;
    width: auto !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    --swiper-pagination-color: #02060a;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    opacity: 0.3;
    margin: 0 6px !important;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    border-radius: 4px;
}

.swiper-buttons-container {
    display: flex !important;
    gap: 12px;
    width: auto;
    height: 48px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-next, .swiper-button-prev{
    border: 1px solid #c3b49d;
    border-radius: 8px;
    background: #eee9e3;
    width: 48px !important;
    height: 48px !important;
    padding: 12px;
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    border: 1px solid rgba(2, 6, 10, 0.6);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
    position: relative !important;
}

.swiper-button-disabled {
    border: 1px solid #f6f4f1;
    border-radius: 8px;
    background: #eee9e3;
    opacity: 0.4 !important;
}

@media only screen and (min-width: 768px) {
   
    .swiper.mySwiper {
        height: 404px;
        align-items: center;
    }

    .swiper-slide .text {
        width: 550px;
        padding: 32px;
        box-sizing: content-box;
    }

    .controls-wrapper {
        justify-content: center; 
        width: 100%;
        margin-top: 0;
    }

    .swiper-buttons-container {
        position: absolute;
        top: 340px;
        width: 100%;
        min-width: 798px;
        max-width: 809px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        padding: 0 20px;
        z-index: 10;
        pointer-events: none;
        box-sizing: border-box; 
    }

    .swiper-button-next,
    .swiper-button-prev {
        pointer-events: auto;
        padding: 0;
    }
}

@media only screen and (min-width: 1440px){
    .swiper.mySwiper {
        height: 753px;
        align-items: center;
    }

    .swiper-slide .text {
        width: 548px;
        height: 108px;
        padding: 64px;
        box-sizing: content-box;
        font: 400 18px / 1.5 "IBM Plex Sans", sans-serif;
    }

    .swiper-buttons-container {
        top: 510px;
        max-width: 1410px;
        min-width: 1410px;
    }

    .controls-wrapper{
        margin-top: 24px;
    }
}