:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: "IBM Plex Sans", sans-serif;
  --second-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #02060a;
  background-color: #f6f4f1;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}


