.nav-list {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
}
.header-logo-svg {
    fill: #332c22;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--color-mariner-darkest);
  opacity: 0.85;
  transform: translateY(-1px);
}

.nav-btn-link {
    display: block;
    width: 335px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #88765C;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon {
    display: block;
    fill: #0b0803;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;

}

.nav-btn-link:hover,
.nav-btn-link:focus {
    color: #02060A;
    background-color: #EEE9E3;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {

    .header-section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-list {
        align-items: center;
    }

    .nav-item {
        margin-right: 32px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }


    .nav-link {
        white-space: nowrap;
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #0b0803;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

@media screen and (min-width: 1440px) {

    

    .nav-list {
        display: flex;
        flex-direction: row;
        
    }
    .header-logo {
        margin-right: 15px;
    }

    .nav-item:nth-child(-n + 3) {
        margin-right: 32px;
    }

    .nav-item:last-child {
        margin-left: 520px;
    }

    .nav-btn-link {
        width: 130px;
    }
}

