.basicLightbox.basicLightbox--visible {
    background-color: rgba(0, 0, 0, 0.25);
}

.pet-modal {
    background-color: #F6F4F1;
    padding: 64px 20px;
    border-radius: 8px;
    max-width: 335px;
    overflow: auto;
    max-height: 100vh;
    position: relative;
}

.modal-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px;
}

.pet-modal-species {
    margin-bottom: 8px;
}

.pet-modal-img {
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.pet-modal-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.pet-info-wrap {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.pet-modal-btn {
    width: 295px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: #88765C;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    transition: background-color 250ms ease;
}

.pet-modal-btn:hover,
.pet-modal-btn:focus {
    color: #02060A;
    background-color: #C3B49D;
    outline: 1px solid #02060A;
}

.pet-modal-info {
    font-size: 14px;
}

.pet-info-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

.pet-info-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.icon-close-btn {
    transition: stroke 250ms ease;
    stroke-width: 1px;
    stroke: #02060a;
    width: 14px;
    height: 14px;
    transition: stroke 250ms ease;
}

.icon-close-btn:hover {
    stroke: #5e4c32;
}

@media screen and (min-width: 768px) {
    .pet-modal {
        padding: 64px 32px;
        max-width: 704px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }
    
    .pet-modal-img {
        width: 304px;
        height: auto;
        object-fit: contain;
        margin: 0;
    }

    .pet-modal-btn {
        width: 304px;
        height: 53px;
        
    }

}

@media screen and (min-width: 1440px) {
    .pet-modal {
        padding: 64px 64px;
        max-width: 1312px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }

    .pet-modal-img {
        width: 576px;
    }

    .pet-modal-btn {
        width: 576px;
        height: 56px;    
    }   
}