.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 64px 20px;
  width: 335px;
  min-height: 763px;
  max-width: 768px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f6f4f1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal-order {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-order-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  margin-bottom: 16px;
  cursor: pointer;
  background-color: #e7e9fc;
  border-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-order-close-btn:hover {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.modal-order-close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.modal-order-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order-title {
  display: block;
  width: 295px;
  height: 129px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
}

.form-field-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
