.pets .container {
  padding-top: 64px;
  padding-bottom: 32px;
}
.pet-type {
  font-size: 10px;
  margin-bottom: 4px;
}
.pet-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}
.pet-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: 68px;
}

.pet-meta {
  font-size: 10px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.pet-descr {
  min-height: 60px;
}
.pet-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background-color: rgba(2, 6, 10, 0.05);
  max-height: 30px;
}
.pet-card {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  padding: 12px;
  background-color: #eee9e3;
  border-radius: 16px;
}
.pets-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.pets-filters-btn {
  padding: 10px 16px;
  border: none;
  background-color: #f6f4f1;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
}
.pets-filters-btn-active {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #eee9e3;
  color: #02060a;
  padding: 10px 16px;
}
.pet-details-btn {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #02060a;
  background-color: #eee9e3;
  justify-content: center;
  align-items: center;
  border: 1px solid #02060a;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  transition: background-color 250ms ease;
}
.pet-details-btn:hover,
.pet-details-btn:focus  {
  color: #eee9e3;
  background-color: #c3b49d;
}
.pet-details-btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    
}

.pets-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.pets-subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
}
.pets-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
.pet-img {
  border-radius: 8px;
  max-width: 312px;
  max-height: 245px;
  object-fit: cover;
}
.load-more {
  padding: 12px 0;
  border: none;
  background-color: #88765c;
  border-radius: 8px;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  max-width: 335px; 
  transition: background-color 250ms ease;
  margin: 0 auto;
}
.load-more:hover {
  outline: 1px solid #88765c;
  background-color: #eee9e3;
  color: #02060a;
}


@media screen and (min-width: 768px) {
  .pets-filters  {
    max-width: 579px;
  }
  .pets-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pet-card {
    max-width: 336px;
  }

}
@media screen and (min-width: 1440px) {
  .pets-filters {
    max-width: 1280px;
  }
  .pet-card {
    max-width: 416px;
  }
  .pet-img {
     max-width: 392px;
     max-height: 309px; 
  }
}