.pets {
  padding: 64px 20px 32px;
}

.pets-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 16px;
}

.pets-subtitle {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #02060a;
  margin-bottom: 32px;
}

/* Фільтри */
.pets-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.pets-filters button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #02060a;
  border-radius: 100px;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
}

.pets-filters button.active {
  font-weight: 500;
  background-color: #eee9e3;
  border: 1px solid rgba(255, 255, 255, 0);
}

/* Галерея */
.pets-list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  padding: 12px;
  min-width: 335px;
  gap: 32px;
  margin-bottom: 40px;
}

/* Картка */
.pet-card {
  width: 335px;
  border-radius: 16px;
  padding: 12px;
  background-color: #eee9e3;
}

.pet-card img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.pet-type {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #02060a;
  margin-bottom: 4px;
}

.pet-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #02060a;
  margin-bottom: 4px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 4px;
}

.categories-item {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background-color: rgba(2, 6, 10, 0.05);
}

.categories-descr {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  color: #000;
}

.pet-meta {
  display: flex;
  gap: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #02060a;
  margin-bottom: 16px;
}

.pet-description {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #02060a;
  margin-bottom: 16px;
}

/* Кнопка */
.details-btn {
  border: 1px solid #02060a;
  border-radius: 8px;
  padding: 8px 20px;
  width: 311px;
  height: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #02060a;
  background: none;
}

/* Load more */
.load-more {
  margin: 0 auto;
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 335px;
  height: 45px;
  cursor: pointer;
  background-color: #88765c;
}

.hidden {
  display: none;
}

@media (min-width: 1280px) {
  .pets-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1279px) {
  .pets-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
